<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
            <%- include ./../partials/header.ejs %>
    </header>
    <section class="content">
        <table id="customers">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="<%= player.avatar %>" width="270" height="270">
                <tr>
                    <th>Username</th>
                    <th>Deposit</th>
                    <th>Wins</th>
                    <th>Loses</th>
                </tr>
                <tr>
                    <td><%= player.username %></td>
                    <td><%= player.deposit %></td>
                    <td><%= player.wins %></td>
                    <td><%= player.loses %></td>
                </tr>
                </table>
    </section>

</body>

</html>