<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
            <%- include ./../partials/header.ejs %>
    </header>
    <section class="content">
        <table id="customers">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="<%= player.avatar %>" width="270" height="270">
                <tr>
                    <th>Lobby</th>
                    <th>Opponent</th>
                </tr>
                <tr>
                    <td><%= number %></td>
                    <td><%= player.username %></td>
                </tr>
                </table>
    </section>

</body>

</html>